{% extends 'base.html' %}
{% load static %}




{% block title %}
Bets
{% endblock title %}


{% block container %}

    {% for bet in bets %}

    <h4>{{bet.game}}</h4>
    <a href="{% url 'bet' bet.id %}">Ver aposta</a>

{% endfor %} 

  </div>
{% endblock container %}