{% extends 'base.html' %}
{% load static %}


{% block title %}
Aposta
{% endblock title %}


{% block container %}

  <div>
    <h2>{{researchedBet.userName}}</h2>
    <p>{{researchedBet.game }} </p>
    <p>{{researchedBet.value}}</p>
    <p>{{researchedBet.side}}</p>

  </div>
{% endblock container %}