{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Expandir</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'partidas' %}">SimpleBet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'partidas'%}">Partidas</a></li>>
            </ul>
        </div>
    </div>
{% endblock navbar %}


{% block container %}
    <div>
        <h1>Efetue sua bet</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{formulario.as_p}}
            <button type="submit">Salvar</button>
        </form>
    </div>
{% endblock container %}