{% extends 'base.html' %}
{% load static %}



{% block container %}
    <div>
        <h1>Registre sua partida</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{formulario.as_p}}
            <button type="submit">Salvar</button>
        </form>
    </div>
{% endblock container %}