{% extends 'base.html' %}
{% load static %}





{% block title %}
Informaçõs da partida
{% endblock title %}

{% block navbar %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Exandir</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'partidas' %}">SimpleBet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'partidas'%}">Voltar</a></li>>
                <li><a href="{% url 'gameSettings' researchedGame.id %}">Modificar partida</a></li>
                <li><a href="{% url 'deletarPartida' researchedGame.id%}">Excluir partida</a></li>
            </ul>
        </div>
    </div>
{% endblock navbar %}

{% block container %}

  <div>
    <h3>{{researchedGame.homeTeam }} vs {{researchedGame.awayTeam}}</h3>
    <h5>{{researchedGame.matchDay}}</h5>
    <p>Casa: {{researchedGame.a_ratio}} Fora: {{researchedGame.h_ratio}}</p>

  </div>
{% endblock container %}