{% extends 'base.html' %}
{% load static %}

{% block title %} Alterar informações da partida{% endblock title %}

{% block container %}

<div>
    <h1>Altere informações referentes a partida</h1>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{formulario.as_p}}
        <button type="submit">Salvar</button>
    </form>
</div>

{% endblock container %}