{% extends 'base.html' %}
{% load static %}

{% block title %}
    <div class="container">
        <div class="starter-template">
            <h1>Partidas</h1>
        </div>
    </div>
{% endblock title %}


{% block container %}
    <h3>Partidas do dia</h3>
    <div class="row">
            {% for game in games %}
                <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="https://placeholder.pics/svg/300" alt="Card image cap">
                    <div class="caption">
                        <h4> {{game.homeTeam}} vs  {{game.awayTeam}}</h4>
                        <h5 class="panel-body"> {{ game.h_ratio }} X {{game.a_ratio }}</h5>
                        <p><a class="panel-footer btn btn-primary" href="{% url 'partida' game.id %}">Informaçoes da partida</a></p>
                    </div>
                </div>
                </div>
        {% endfor %}
        </div>
    </div>

{% endblock container %}