{% extends 'base.html' %}
{% load static %}



{% block container %}
    <h2 class="form-signin-heading">Registre seu usuário</h2>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{formulario.as_p}}
        <button class="btn btn-default" type="submit">Salvar</button>
    </form>

{% endblock container %}