{% extends 'base.html' %}
{% load static %}

{% block title %}
Informações do Usuário
{% endblock title %}

{% block navbar %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Expandir</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'partidas' %}">SimpleBet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'settings' searchedUser.userName %}">Alterar Usuario</a></li>
                <li><a href="{% url 'delete' searchedUser.userName %}">Excluir Usuario</a></li>
            </ul>
        </div>
    </div>
{% endblock navbar %}

{% block container %}

  <div>
    <h2>{{searchedUser.firstName}}</h2>
    <p>{{searchedUser.email}}</p>
    <p>{{searchedUser.cpf}}</p>
    <p>{{searchedUser.balance}}</p>

  </div>
{% endblock container %}
