{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block navbar %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Expandir</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'partidas' %}">SimpleBet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'register' %}">Cadastrar Usuário</a></li>
            </ul>
        </div>
    </div>
{% endblock navbar %}

{% block container %}

    <div class="main">
        <h2>Usuarios</h2>
        {% for user in users %}
            <h4>{{user.userName}}</h4>
            <a href="{% url 'user' user.userName %}">Informaçoes do Usuário</a>
        {% endfor %} 
    </div>
    

{% endblock container %}